*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.header{
    width: 100vw;
    background-color:khaki;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Meera Inimai', sans-serif; 

}

.nav ,.nav-items {
    list-style: none;
display: inline-flex;
flex-wrap: wrap;
padding: 5px;
  
}
.nav .nav-items li{
    padding: 5px;
}


.nav .nav-items li a:active{
    color: crimson;
}

.nav .nav-items li a{
text-decoration: none;
color: black;
font-weight: lighter;
font-size: 20px;
}
.cool-link::after{
    content: '';
    display:block;
    width: 0;
    height: 2px;
    background:black;
    transition: width .3s;
}
.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}